<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dev1" class="com.example.springSecondApp.Developer" autowire="byName">
		<property name="name" value="Suraj Jha"/>
		<property name="age" value="21"/>
	</bean>
	<bean id="dev2" class="com.example.springSecondApp.Developer" autowire="byType">
		<property name="name" value="Sagar Jha"/>
		<property name="age" value="19"/>
	</bean>
	<bean id="lap1" class="com.example.springSecondApp.Laptop" primary="true">
	</bean>
	<bean id="computer" class="com.example.springSecondApp.Desktop">
	</bean>
</beans>